<h1>Tugas 4 Daspro M. Zaidan TI24A</h1>

<h3>Operator Aritmatika</h3>

In [1]:
apelBudi = 12
temanBudi = 4
apelTeman = apelBudi // temanBudi
print("Budi memiliki {} Apels, & Budi memiliki {} Teman, Budi Membagi Rata Apel nya Kepada Teman Temannya, dan Teman Teman Budi Masing Mendapat {} Apel" 
      .format(apelBudi, temanBudi, apelTeman))

tambahApel = 8
totalApel = tambahApel + apelBudi
print("Jika Budi Mendapat {} Apel, Maka Total Apel Budi adalah {} Apel".format(tambahApel,totalApel))

Budi memiliki 12 Apels, & Budi memiliki 4 Teman, Budi Membagi Rata Apel nya Kepada Teman Temannya, dan Teman Teman Budi Masing Mendapat 3 Apel
Jika Budi Mendapat 8 Apel, Maka Total Apel Budi adalah 20 Apel

<h3>Operator Perbandingan</h3>

In [12]:
tinggiSiti = 160
tinggiAndi = 165

if tinggiAndi > tinggiSiti:
    print("Andi lebih tinggi dari Siti")
elif tinggiAndi < tinggiSiti:
    print("Siti lebih tinggi dari Andi")
else:
    print("Siti dan Andi memiliki tinggi yang sama")

Andi lebih tinggi dari Siti

<h3>Operator Logika</h3>

In [17]:
cuacaCerah = True
prSelesai = True

if cuacaCerah and prSelesai:
    print("Budi bisa bermain di luar")
else:
    print("Budi tidak bisa bermain di luar")

Budi bisa bermain di luar

<h3>Operator Bitwise</h3>

In [26]:
nilai1 = 6
nilai2 = 3
print(nilai1,"=",bin(nilai1))
print(nilai2,"=",bin(nilai2))

hasilAnd = nilai1 & nilai2
hasilOr = nilai1 | nilai2
hasilXor = nilai1 ^ nilai2

print("Hasil AND:", hasilAnd, "=", bin(hasilAnd))
print("Hasil OR:", hasilOr, "=", bin(hasilOr))
print("Hasil XOR:", hasilXor, "=", bin(hasilXor))

6 = 0b110
3 = 0b11
Hasil AND: 2 = 0b10
Hasil OR: 7 = 0b111
Hasil XOR: 5 = 0b101

<h3>Operator Penugasan</h3>

In [37]:
saldo = 50000
print("Saldo Awal Rp", saldo)
saldo += 20000
print("Isi Ulang Rp 20000 Jadi Rp", saldo)
saldo -= 30000
print("Beli Paket Rp 30000 Jadi Sisanya Rp", saldo)

Saldo Awal Rp 50000
Isi Ulang Rp 20000 Jadi Rp 70000
Beli Paket Rp 30000 Jadi Sisanya Rp 40000

<h3>Operator Keanggotaan</h3>

In [55]:
peserta = ["Andi", "Budi", "Citra", "Dewi"]
print("Peserta Lomba Adalah", peserta)

if "Eka" in peserta:
    print("Eka terdaftar sebagai peserta")
else:
    print("Eka tidak terdaftar sebagai peserta")

print("-------------------------")

kalimat = "Saya suka belajar Python"
print(kalimat)

if "Python" in kalimat:
    print("Kata 'Python' ada dalam kalimat")
else:
    print("Kata 'Python' tidak ada dalam kalimat")

Peserta Lomba Adalah ['Andi', 'Budi', 'Citra', 'Dewi']
Eka tidak terdaftar sebagai peserta
-------------------------
Saya suka belajar Python
Kata 'Python' ada dalam kalimat

<h3>Operator Identitas</h3>

In [67]:
x = 10
y = 10
print("x =",id(x))
print("y =",id(y))

if x is y:
    print("x dan y merujuk ke objek yang sama dalam memori")
else:
    print("x dan y tidak merujuk ke objek yang sama dalam memori")

print("-------------------------")

list1 = [1, 2, 3]
print("List 1", list1, "=", id(list1))
list2 = [1, 2, 3]
print("List 2", list2, "=", id(list2))

if list1 is list2:
    print("list1 dan list2 mengacu ke objek yang sama dalam memori")
else:
    print("list1 dan list2 tidak mengacu ke objek yang sama dalam memori")

x = 140731730307800
y = 140731730307800
x dan y merujuk ke objek yang sama dalam memori
-------------------------
List 1 [1, 2, 3] = 2574490734080
List 2 [1, 2, 3] = 2574490905344
list1 dan list2 tidak mengacu ke objek yang sama dalam memori

<h3>Operator Ternary</h3>

In [98]:
angka = int(input("Isikan Angka:"))
hasil = "Lebih besar dari 100" if angka > 100 else "Tidak lebih besar dari 100"
print(angka, hasil)

print("-------------------------")

nilaiUjian = int(input("Isikan Nilai:"))
status = "Lulus" if nilaiUjian > 70 else "Tidak Lulus"
print(status)

Isikan Angka: 12

12 Tidak lebih besar dari 100
-------------------------

Isikan Nilai: 111

Lulus