In [1]:
name = "Yazids"
age = 20
address,province = "Jl. Pelabuhan","7413412"
scorePython = 80.5
isMarried = False

print("Nama:",name)
print("Umur:",age)
print("Alamat:",address)
print("Nilai Pemrograman:",scorePython)
print("Status Menikah:",isMarried)

Nama: Yazids
Umur: 20
Alamat: Jl. Pelabuhan
Nilai Pemrograman: 80.5
Status Menikah: False

In [5]:
print ("Tipe Data <name>:",type(name))
print ("Tipe Data <age>:",type(age))
print ("Tipe Data <alamat>:",type(address))
print ("Tipe Data <provinsi>:",type(province))
print ("Tipe Data <scorePython>:",type(scorePython))
print ("Tipe Data <isMarried>:",type(isMarried))

Tipe Data <name>: <class 'str'>
Tipe Data <age>: <class 'int'>
Tipe Data <alamat>: <class 'str'>
Tipe Data <provinsi>: <class 'str'>
Tipe Data <scorePython>: <class 'float'>
Tipe Data <isMarried>: <class 'bool'>

In [21]:
#Casting / Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")
#Konversi dari float ke (str,int,bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")
#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
20-20.0-True
80.5-80-True
0-0.0-False

In [27]:
city = "Bandung"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

B
g

In [33]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal:",desimal)
print("Nilai Desimal dari 0xff:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("-------------------")
print("Nilai Biner dari:",desimal, bin(desimal))
print("Nilai Octal dari:",desimal, oct(desimal))
print("Nilai Hexa dari:",desimal, hex(desimal))

Nilai Desimal: 200
Nilai Desimal dari 0xff: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
-------------------
Nilai Biner dari: 200 0b11001000
Nilai Octal dari: 200 0o310
Nilai Hexa dari: 200 0xc8

In [83]:
#Tipe Data Collection
#List
cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Subang"
print(cities)
print(cities[len(cities)-1][0])

#Tuple
names = ("Yajit","Padli","Jitna")
print(names)

#Dictionary
studentData = {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Jawa"
    },
    "age" : 23,
    "isMarried" : True
}

#List of Dictionary
listStudent = [
    {
        "name" : "Dedi",
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "West Jawa"
            },
        "hobbies":["Basket","Soccer"],
        "age" : 23,
        "isMarried" : True
    },
    {
        "name" : "Yazid",
        "address" : {
            "street" : "Compton",
            "number" : 221,
            "province" : "California"
            },
        "hobbies":["Gaming","Sebat"],
        "age" : 21,
        "isMarried" : False
    }
    
]

print(studentData)
print(studentData["address"]["province"])
print(listStudent[1])
print(listStudent[0]["hobbies"][1])
print(listStudent[1]["age"])

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Subang', 'Bogor', 'Jakarta']
J
('Yajit', 'Padli', 'Jitna')
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Jawa'}, 'age': 23, 'isMarried': True}
West Jawa
{'name': 'Yazid', 'address': {'street': 'Compton', 'number': 221, 'province': 'California'}, 'hobbies': ['Gaming', 'Sebat'], 'age': 21, 'isMarried': False}
Soccer
21

In [101]:
#Casting dictionary

list_tuple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [["Buah","Apple"],["Harga",80000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("Mobil","Lambo"),("Harga",10000000))
dictMobil = dict(tuple_tuple)
print(dictMobil)

tuple_list = (["Laptop","Acer"],["Harga",80000])
dictLaptop = dict(tuple_list)
print(dictLaptop)

keys = ["name","age","address"]
values = ["Yajit","21","Compton"]

dictData = dict(zip(keys,values))
print(dictData)

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apple', 'Harga': 80000}
{'Mobil': 'Lambo', 'Harga': 10000000}
{'Laptop': 'Acer', 'Harga': 80000}
{'name': 'Yajit', 'age': '21', 'address': 'Compton'}